/* ===== SECCIÓN ===== */
.categorias {
    text-align: center;
    padding: 90px 0;
    background: #f7f7f4;
}

/* ===== TITULOS ===== */
.titulo {
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 10px;
    color: #333;
}

.subtitulo {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 50px;
}

/* ===== GRID CARDS ===== */
.cartas {
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

/* ===== CARD ===== */
.carta {
    width: 230px;
    height: 220px;
    background: #ffffff;
    border-radius: 18px;
    padding: 40px 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    transition: 0.3s ease;
    cursor: pointer;
}

.carta img {
    width: 150px;
    margin-bottom: 25px;
}

.carta h3 {
    color: #8a9b2f;
    letter-spacing: 1px;
    font-weight: 600;
}

/* Hover elegante */
.carta:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.12);
}

/* ===== BOTON ===== */
.btn-ver {
    background: #8a9b2f;
    color: white;
    padding: 12px 35px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn-ver:hover {
    background: #6f7d25;
}
